<h1>Ideas</h1>

<%= button_to "Submit a new idea", new_idea_path, :method => "get" %>

<ul>
  <% @ideas.each do |idea| %>
    <li><%= link_to idea.name, idea %></li>
    <p> <%= idea.tagline %> </p>
  <% end %>
</ul>