<% content_for(:title) { "Events" } %>

<ul class="list-disc">
  <% @events.each do |event| %>
    <li>
      <%= link_to format_date(event.time), event, class: "text-ezgreen text-2xl font-bold hover:underline" %>
    </li>
  <% end %>
</ul>

<div class="my-8">
  <%= link_to "Create an Event", new_event_path, class: "inline-block px-5 py-3 text-base font-medium rounded-md text-white bg-ezgreen hover:bg-ezgreen-dark" %>
</div>
